body {
  background-color: #2C2F33;
}

.App {
  color: #ffffff;
}

.App-jumbo {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 4em;
  font-weight: bold;
}

.App-subtitle {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 1em;
  padding-bottom: 20px;
  font-weight: normal;
  color: #99AAB5;
}

.Group-title {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 2em;
  font-weight: bold;
}

.selectBox {
  width: 20%;
  margin-left: 20px;
}
